# vim: set ft=sh et:

# Editing this file. TODO: visudo-like capability?
alias aliases='vim $HOME/.aliases && source $HOME/.aliases && echo "Good to go."'

# Distro- and machine-specific aliases, the former of which
# dotfiles_import.sh should have copied to $HOME.
if [ -r $HOME/.aliases-dist ]; then
    source $HOME/.aliases-dist
fi
if [ -r $HOME/.aliases-local ]; then
    source $HOME/.aliases-local
fi

# $SHELL is the default login shell, which on some machines is /bin/bash and
# doesn't change even if I start zsh.
if [ -n $ZSH_NAME ]; then
    source $HOME/.aliases-zsh
    alias help=run-help
fi

alias fuck='$(thefuck $(fc -ln -1))'
alias argh=fuck
alias asdf=fuck
export THEFUCK_REQUIRE_CONFIRMATION=true

# System tools
alias dmt='dmesg | tail -n 20'
alias goodbye='sudo shutdown -h now'
alias jl='jobs -l'
alias sc='systemctl'
alias m='mount | column -t'
alias sm='sudo mount -v'
alias um='sudo umount -v'
alias ssc='sudo systemctl'
alias sv='sudo rvim'
alias svim='sudo rvim'
alias dix='dig -x'
alias sumitup='nice find . -type f -not -name md5sum  -exec md5sum  {} \; > md5sums &'
alias hogcpu='ps auxk -%cpu'
alias hogram='ps auxk -%mem'
# http://0pointer.de/blog/projects/systemd-for-admins-2.html
alias psc='ps xawf -eo pid,user,cgroup,args' 

# Safety nets
alias chgrp='chgrp -v --preserve-root'
alias chmod='chmod -v --preserve-root'
alias chown='chown -v --preserve-root'
alias cp='cp -vi'
alias ln='ln -vi'
alias mv='mv -vi'
alias rm='rm -vI'
alias rmdir='rmdir -v'
alias wget='wget -c'

# Quick-add alias
qaa () {
    echo "alias $1" >> $HOME/.aliases;
    source $HOME/.aliases;
    echo "$1 added.";
}

# Rename a terminal window. Works for me on zsh and urxvt{d,c}.
retitle() {
    echo -n "\033]0;$1\007";
    echo "Terminal window renamed to $1."
}

# I like my lists pretty
alias l='ls -F --color'
alias la='l -A'        # omits implicit "." and ".."
alias ll='l -lh'       # long list, human readable sizes 
alias lla='l -Alh'     # long list, human readable sizes, dotfiles
alias lr='l -R'        # recursive list
alias lsdir='ls -F | grep / --color=never' # ls dirs
alias llf='ll | grep -v / --color=never'   # ls -l files
alias lld='ll | grep / --color=never'      # ls -l dirs

# I like my grep pretty
alias grep='grep --color=auto'
alias grepc='grep --color=never'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
# oh-my-zsh/plugins/common-aliases
alias sgrep='grep -RnHC 5 --exclude-dir={.git,.svn,CVS}'

# Disk usage
alias f='df -HT'  # Sizes in SI units (MB, etc.) plus fstype
alias u='du -ch'
    # Total at bottom, SI units
alias u1='du -chd 1' 
    # Total at bottom, SI units, group by folder

# Miscellanea
alias g=hub
alias t=todo
alias rdp='rdesktop -u administrator'
alias tarhelp='tar --help | less'
alias screenshot=scrot
wc-r () { # wc if it had a recursive flag. 
    # FIXME: Breaks with spaced filenames
    find "$@" -type f | xargs wc -l
    # Or this:
    # find "$@" -print0 | wc -l --files0-from=-
}
