# vim: set ft=sh et:

alias bell="echo -ne '\a'"
alias ding=bell

# Internet things
alias itiof="dig +short -t txt istheinternetonfire.com"
alias ipv4='curl -4 canhazip.com'
alias ipv6='curl -6 canhazip.com'

# System tools
alias chmox='chmod u+x'
alias m='mount | column -t'
alias sm='sudo mount -v'
alias skgr='ssh-keygen -R'
alias um='sudo umount -v'
alias svim='sudo vim -Z'
alias dix='dig -x'
alias perms='stat -c "%A %a %n"'
alias sumitup='nice find . -type f -not -name md5sum  -exec md5sum  {} \; > md5sums &'
alias cpuhogs='ps auxk -%cpu'
alias ramhogs='ps auxk -%mem'
sizereport() {
  du -hd1 "$@" | sort -h
}

# shitstemd
alias sc='systemctl'
alias ssc='sudo systemctl'
alias jc='journalctl'
alias sjc='sudo journalctl'

# Safety nets
alias chgrp='chgrp -v --preserve-root'
alias chmod='chmod -v --preserve-root'
alias chown='chown -v --preserve-root'
alias cp='cp -vi'
alias ln='ln -vi'
alias mv='mv -vi'
alias rm='rm -vI'
alias rmdir='rmdir -v'
alias wget='wget -c'

# Quick-add alias
qaa () {
    echo "alias $1" >> $HOME/.aliases;
    source $HOME/.aliases;
    echo "$1 added.";
}

# Rename a terminal window. Works for me on zsh and urxvt{d,c}.
retitle() {
    echo -n "\033]0;$1\007";
    echo "Terminal window renamed to $1."
}

# https://pthree.org/2011/10/18/use-wget1-to-expand-shortened-urls/
expandurl() { wget -S $1 2>&1 | grep --color=never ^Location; }

# I like my lists pretty
alias l='ls -F --color'
alias la='l -A'        # omits implicit "." and ".."
alias ll='l -lh'       # long list, human readable sizes
alias lla='l -Alh'     # long list, human readable sizes, dotfiles

# I like my grep pretty
alias grep='grep --color=auto'
alias grepc='grep --color=never'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
# oh-my-zsh/plugins/common-aliases
alias sgrep='grep -RnHC 5 --exclude-dir={.git,.svn,CVS}'

# Disk usage
alias f='df -HT'  # Sizes in SI units (MB, etc.) plus fstype
alias u='du -ch'
    # Total at bottom, SI units
alias u1='du -chd 1'
    # Total at bottom, SI units, group by folder

# Miscellanea
alias slideshow='feh -dFrSfilename'
alias tarhelp='tar --help | less'
alias sshtemp='ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'
alias datehelp='for F in {a..z} {A..Z} :z ::z :::z;do echo $F: $(date +%$F);done|sed "/:[\ \t\n]*$/d;/%[a-zA-Z]/d"'

# Distro- and machine-specific aliases.
# These should override my standard set of aliases, so they're down here.
if [ -r $HOME/.aliases-dist ]; then
    source $HOME/.aliases-dist
fi
if [ -r $HOME/.aliases-local ]; then
    source $HOME/.aliases-local
fi
