[user]
    name = Antonio Gurgel
    email = gurgelan@cse.msu.edu
[color]
    ui = auto
[push]
    default = matching
[alias]
    a = add -v
    aa = add -v .
    aaa = add -Av .
    c = commit
    co = checkout
    cm = commit -m
    dh = diff HEAD
    dh1 = diff HEAD~1
    rv = remote -v
    st = status
    ps = push
    pupm = pull upstream master
    pom = push origin master
[core]
    excludesfile = ~/.gitignore_global
[github]
    user = GA114
